<nav class="topBanner">
	<div class="container my-2">
		<div class="row">
			<div class="col">
				<a href="/auth">
				<img src="/images/logo-airbnb.png" alt="Airbnb" />
				</a>
			</div>
			<div class="col">
				<div class="row text-end">
					<div class="col text-end">
						<a href="/profile">
						<button type="button" class="btn btn-outline-secondary">
							<img
								src="https://randomuser.me/api/portraits/men/11.jpg"
								class="rounded-circle avatarimg"
								alt="avatar login"
							/>
							<span>Douglas</span>
						</button>
					</a>
					<a href="/houses">
						<button type="button" class="btn btn-outline-secondary">
							Log out
						</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
