  <body>
    <div class="loginBody" class="img-fluid">
      <div
        class="centerbox text-center position-absolute top-50 start-50 translate-middle"
      >
        <img class="my-2" src="/images/logo-airbnb.png" alt="Airbnb" />
        <form action='/auth/login' method='POST'>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <button class="btn btn-success mt-2 d-block">
            Log In
          </button>
        </form>
        <span class="text-secondary"
          >New to AirBnB? <a href="/auth/signup">Sign up here</a></span
        >
      </div>
    </div>
  </body>
