<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="./css/bootstrap.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <script
      src="https://kit.fontawesome.com/af3685eef2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="loginBody" class="img-fluid">
      <div
        class="centerbox box text-center position-absolute top-50 start-50 translate-middle bg-light p-3"
      >
        <img class="my-2" src="./images/logo-airbnb.png" alt="Airbnb" />
        <form class="text-start">
          <label for="exampleInputEmail1" class="form-label"
            >Your full name</label
          >
          <input type="text" class="form-control" />
          <label for="exampleInputEmail1" class="form-label"
            >Profile picture</label
          >
          <input type="text" placeholder="http://..." class="form-control" />
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" />
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" />

          <button class="btn btn-success mt-2 d-block">
            Sign Up
          </button>
        </form>
        <span class="text-secondary"
          >Already have an account? <a href="">Log in here</a></span
        >
      </div>
    </div>
  </body>
</html>
