  <body>
    <!-- Navbar -->
    {{>nav}}

    <!-- Start> Form -->
    <div class="container">
      <form class="" action="/houses" method="POST">
        <h5>List a house</h5>
        <label class="form-label">Short Title</label>
        <input type="text" class="form-control" name='title'/>
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="5" name='description'></textarea>
        <label class="form-label">Number of Rooms</label>
        <input type="number" class="form-control" name='rooms'/>
        <label class="form-label">Location</label>
        <select class="form-select" name='location'>
          <option value="Koh Phangan" selected>Koh Phangan</option>
          <option value="Koh Samui">Koh Samui</option>
          <option value="Bali">Bali</option>
        </select>
        <label class="form-label">Price (per night)</label>
        <div class="input-group">
          <span class="input-group-text"
            ><i class="fa-solid fa-dollar-sign"></i
          ></span>
          <input type="number" class="form-control" name='price'/>
        </div>
        <label class="form-label">Add Photos (up to 9)</label>
        <input type="text" class="form-control" placeholder="http://..." name='photos'/>
        <input type="text" class="form-control" placeholder="http://..." name='photos'/>
        <input type="text" class="form-control" placeholder="http://..." name='photos'/>
        <input type="text" class="form-control" placeholder="http://..." name='photos'/>
        <input type="text" class="form-control" placeholder="http://..." name='photos'/>
        <input type="text" class="form-control" placeholder="http://..." name='photos'/>
        <input type="text" class="form-control" placeholder="http://..." name='photos'/>
        <input type="text" class="form-control" placeholder="http://..." name='photos'/>
        <input type="text" class="form-control" placeholder="http://..." name='photos'/>
        <button class="btn btn-success mt-2">Submit</button>
      </form>
    </div>
    <!-- END Form -->
  </body>
