<body>
	<!-- Navbar -->
	<nav class="topBanner">
		<div class="container my-2">
			<div class="row">
				<div class="col">
					<a href="/auth">
					<img src="/images/logo-airbnb.png" alt="Airbnb" />
					</a>
				</div>
				<div class="col">
					<div class="row text-end">
						<div class="col text-end">
							<a href="/profile">
							<button type="button" class="btn btn-outline-secondary">
								<img
									src="https://randomuser.me/api/portraits/men/11.jpg"
									class="rounded-circle avatarimg"
									alt="avatar login"
								/>
								<span>Douglas</span>
							</button>
						</a>
						<a href="/houses">
							<button type="button" class="btn btn-outline-secondary">
								Log out
							</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
    <!-- Filterbar -->
    <div class="filters bg-light text-dark py-2">
      <form class="" action="index.html" method="post">
        <div class="container">
          <div class="row">
            <!-- Location -->
            <div class="col">
              <div class="input-group">
                <span class="input-group-text"
                  ><i class="fa-solid fa-location-dot"></i
                ></span>
                <select class="form-select">
                  <option selected>Any Location</option>
                  <option value="1">Koh Phangan</option>
                  <option value="2">Koh Samui</option>
                  <option value="3">Bali</option>
                </select>
              </div>
            </div>
            <!-- Rooms -->
            <div class="col">
              <div class="input-group">
                <span class="input-group-text"
                  ><i class="fa-solid fa-house-chimney"></i
                ></span>
                <select class="form-select">
                  <option selected>Any rooms</option>
                  <option value="1">1 Room</option>
                  <option value="2">2 Rooms</option>
                  <option value="3">3 Rooms</option>
                  <option value="4">4 Rooms</option>
                  <option value="5">5 Rooms</option>
                </select>
              </div>
            </div>
            <!-- max price -->
            <div class="col">
              <div class="input-group">
                <span class="input-group-text"
                  ><i class="fa-solid fa-dollar-sign"></i
                ></span>
                <input
                  type="number"
                  class="form-control"
                  placeholder="max price"
                />
              </div>
            </div>
            <!-- Price (low to high) -->
            <div class="col">
              <div class="input-group">
                <span class="input-group-text"
                  ><i class="fa-solid fa-arrow-down-short-wide"></i
                ></span>
                <select class="form-select">
                  <option selected>Price (low to high)</option>
                  <option value="1">Price (high to low)</option>
                </select>
              </div>
            </div>
            <!-- House name... -->
            <div class="col">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="House name..."
                />
              </div>
            </div>
            <!-- Search button -->
            <div class="col">
              <button class="btn btn-success">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Houses -->
    <div class="houses">
      <div class="container">
        <div class="row row-cols-4">
          <div class="col">
            <div class="card my-3">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                class="card-img-top"
                alt="house 1 picture 1"
              />
              <div class="card-body">
                <span>Koh Samui . 4 Rooms</span>
                <h5 class="card-title">
                  <a href="" class="stretched-link">Luxury Villa in Chaweng</a>
                </h5>
                <div class="row">
                  <div class="col">3 reviews</div>
                  <div class="col text-end">$350/night</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card my-3">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                class="card-img-top"
                alt="house 1 picture 1"
              />
              <div class="card-body">
                <span>Koh Samui . 4 Rooms</span>
                <h5 class="card-title">
                  <a href="" class="stretched-link">Luxury Villa in Chaweng</a>
                </h5>
                <div class="row">
                  <div class="col">3 reviews</div>
                  <div class="col text-end">$350/night</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card my-3">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                class="card-img-top"
                alt="house 1 picture 1"
              />
              <div class="card-body">
                <span>Koh Samui . 4 Rooms</span>
                <h5 class="card-title">
                  <a href="" class="stretched-link">Luxury Villa in Chaweng</a>
                </h5>
                <div class="row">
                  <div class="col">3 reviews</div>
                  <div class="col text-end">$350/night</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card my-3">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                class="card-img-top"
                alt="house 1 picture 1"
              />
              <div class="card-body">
                <span>Koh Samui . 4 Rooms</span>
                <h5 class="card-title">
                  <a href="" class="stretched-link">Luxury Villa in Chaweng</a>
                </h5>
                <div class="row">
                  <div class="col">3 reviews</div>
                  <div class="col text-end">$350/night</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card my-3">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                class="card-img-top"
                alt="house 1 picture 1"
              />
              <div class="card-body">
                <span>Koh Samui . 4 Rooms</span>
                <h5 class="card-title">
                  <a href="" class="stretched-link">Luxury Villa in Chaweng</a>
                </h5>
                <div class="row">
                  <div class="col">3 reviews</div>
                  <div class="col text-end">$350/night</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card my-3">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                class="card-img-top"
                alt="house 1 picture 1"
              />
              <div class="card-body">
                <span>Koh Samui . 4 Rooms</span>
                <h5 class="card-title">
                  <a href="" class="stretched-link">Luxury Villa in Chaweng</a>
                </h5>
                <div class="row">
                  <div class="col">3 reviews</div>
                  <div class="col text-end">$350/night</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card my-3">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                class="card-img-top"
                alt="house 1 picture 1"
              />
              <div class="card-body">
                <span>Koh Samui . 4 Rooms</span>
                <h5 class="card-title">
                  <a href="" class="stretched-link">Luxury Villa in Chaweng</a>
                </h5>
                <div class="row">
                  <div class="col">3 reviews</div>
                  <div class="col text-end">$350/night</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
