<body>
	<!-- Navbar -->
	<nav class="topBanner">
		<div class="container my-2">
			<div class="row">
				<div class="col">
					<a href="/auth">
					<img src="/images/logo-airbnb.png" alt="Airbnb" />
					</a>
				</div>
				<div class="col">
					<div class="row text-end">
						<div class="col text-end">
							<a href="/profile">
							<button type="button" class="btn btn-outline-secondary">
								<img
									src="https://randomuser.me/api/portraits/men/11.jpg"
									class="rounded-circle avatarimg"
									alt="avatar login"
								/>
								<span>Douglas</span>
							</button>
						</a>
						<a href="/houses">
							<button type="button" class="btn btn-outline-secondary">
								Log out
							</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
    <!-- topImages -->
    <div class="topImages">
      <div class="row row-cols-2 border-bottom">
        <div class="col">
          <img
            src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
            alt="house 1 picture 1"
            class="houseBigImageLeft img-fluid"
          />
        </div>
        <div class="col">
          <div class="row row-cols-3 gy-2 mt-1">
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                alt="houseSmall1"
                class="img-fluid"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                alt="houseSmall1"
                class="img-fluid"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                alt="houseSmall1"
                class="img-fluid"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                alt="houseSmall1"
                class="img-fluid"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                alt="houseSmall1"
                class="img-fluid"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                alt="houseSmall1"
                class="img-fluid"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                alt="houseSmall1"
                class="img-fluid"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                alt="houseSmall1"
                class="img-fluid"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                alt="houseSmall1"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Description and Request Booking -->
    <div class="container">
      <div class="row row-cols-2">
        <div class="col-8 mt-3">
          <h1>Luxury Villa in Chaweng</h1>
          <span
            ><i class="fa-solid fa-map-location"></i> Koh Samui
            <i class="fa-regular fa-circle-dot"></i> 4 Rooms</span
          >
          <div class="row mb-2">
            <div class="col-1">
              <img
                src="https://randomuser.me/api/portraits/men/11.jpg"
                alt=""
                class="rounded-circle img-fluid"
              />
            </div>
            <div class="col-11 text-start">
              <div class="row-1">
                <div class="col text-secondary">Hosted by</div>
                <div class="col">Douglas</div>
              </div>
            </div>
          </div>
          <p>
            Stylish, tropical, luxurious, airy and absolute stunning view over
            the bay of Chaweng Beach, this villa combines form and function,
            enjoying magnificient views of Samui's small islands and the sea
            beyond. With 520sqm of indoor/outdoorliving space with 7 ensuite
            bedrooms, large living area, infinity pool, garden, air conditioned
            gym, professional pool table, BBQ and Sala, this villa is perfect
            for up to 14 adults with 260sqm (2798sqfeet) of living space and
            260sqm of outdoor space.
          </p>
        </div>
        <div class="col-4 mt-3">
          <div class="card shadow float-end" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">$350/night</h5>
              <span>0 reviews</span>
              <form class="requestBooking" action="index.html" method="post">
                <textarea
                  class="form-control"
                  rows="5"
                  placeholder="Send the host a message..."
                ></textarea>
                <a href="#" class="btn btn-success mt-3">Request Booking</a>
              </form>
            </div>
          </div>
          <!-- SUCCESS ALERT, ACTIVATE AFTER REQUESTBOOKING IS SENT
					<div class="card shadow float-end reqcard" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">$350/night</h5>
              <span>0 reviews</span>
              <div class="alert alert-success" role="alert">
                Thank you for your enquiry!
                <span>Sent on 02 Jan 2022 01:01</span>
              </div>
            </div>
          </div> -->
        </div>
        <!-- Leave a Review -->
        <div class="col-8">
          <h2>0 reviews</h2>
          <form class="leaveReview" action="index.html" method="post">
            <label for="">Leave a review</label>
            <textarea
              class="form-control"
              rows="5"
              aria-label="With textarea"
            ></textarea>
            <button type="button" class="btn btn-outline-success mt-2">
              <i class="fa-regular fa-thumbs-up"></i>
            </button>
            <button type="button" class="btn btn-outline-danger mt-2">
              <i class="fa-regular fa-thumbs-down"></i>
            </button>
            <a href="#" class="btn btn-success d-block reviewsubmit mt-2"
              >Submit</a
            >
          </form>
        </div>
      </div>
      <!-- Review Cards -->
      <div class="reviews mt-4">
        <!-- Review Card 1 -->
        <div class="card w-50 mb-3">
          <div class="row">
            <div class="col-2">
              <img
                src="https://randomuser.me/api/portraits/men/11.jpg"
                alt="avatar"
                class="reviewavatar rounded-circle m-3"
              />
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col" class="detailsReview">
                  <span class="text-secondary">02 Jan 2022 - 01:01</span>
                </div>
                <div class="col text-end mx-3">
                  <i class="fa-solid fa-thumbs-up"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h5>Peter Lewis</h5>
                  <p>
                    This place is fantastic! The views are breathtaking and it's
                    just a short walk to all the shops. My family and I had an
                    amazing experience.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Review Card 2 -->
        <div class="card w-50 mb-3">
          <div class="row">
            <div class="col-2">
              <img
                src="https://randomuser.me/api/portraits/men/11.jpg"
                alt="avatar"
                class="reviewavatar rounded-circle m-3"
              />
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col" class="detailsReview">
                  <span class="text-secondary">02 Jan 2022 - 01:01</span>
                </div>
                <div class="col text-end mx-3">
                  <i class="fa-solid fa-thumbs-up"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h5>Peter Lewis</h5>
                  <p>
                    This place is fantastic! The views are breathtaking and it's
                    just a short walk to all the shops. My family and I had an
                    amazing experience.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
